body {
    background-image:
    linear-gradient(90deg,
      rgba(150, 121, 105,0.95),
      rgba(150, 121, 105, 0.50),
      rgba(0,0,0,0.1)),
      url('../picture/Bg\ -\ Travel.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    font-family: 'Lucida Grande';
    margin: 0;
    border: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    background-color: rgba(0,0,0,0.3);
}
.container > div {
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: white;
}
.logo {
    margin-left: 15px;
    align-self: center;
    margin-right: auto;
    width: 8%;
    height: 10%;
}
article,main {
    margin: 10px;
}
h1 {
    text-align: center;
}
section {
    margin-top: 50px;
    background-color: rgba(0,0,0,0.3);
}
footer {
    background-color: lightsalmon;
    color: #fff;
    min-height: 40px;
    max-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}